[Desktop Entry]
Version=1.0
Name=Firefox_1
Type=Application
Icon=firefox
Exec=/usr/lib/firefox/firefox -profile ~/local/firefox-profile/profile-1 --no-remote
