[Desktop Entry]
Version=1.0
Name=Firefox
Type=Application
Icon=firefox
Exec=/usr/lib/firefox/firefox -profile "~/local/firefox_profile/profile_1" --no-remote
