[Unit]
Description=<desc>
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=<user>
ExecStart=bash <path>/start_vnc_server.sh
ExecStop=bash <path>/stop_vnc_server.sh
Restart=always
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target
