[Unit]
Description=Twilight-Line-Client Service

[Service]
Type=exec
User=twilight-line
ExecStart=/opt/tl-client/twilight-line-client -e \
          /opt/tl-client/config.json
StandardOutput=null

[Install]
WantedBy=multi-user.target
