[Unit]
Description=Twilight-Line-V2-Client Service

[Service]
Type=exec
User=twilight-line
ExecStart=/opt/tl-v2-client/twilight-line-client -e \
          /opt/tl-v2-client/config.json
StandardOutput=null

[Install]
WantedBy=multi-user.target
